{% extends 'layout.html' %}

{% block head %}
<title> Halaman Bosss</title>
{% endblock %}

{% block body %}
<div class="container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:mt-32 mt-10">
      <div class="m-14 text-center lg:text-left lg:py-20 md:py-0 font-figtree">
        <h2 class="font-bold text-2xl text-blue-950 pb-1 lg:text-4xl">Akhmad Zaqi Noor.</h2>
        <h1 class="font-extrabold text-3xl lg:text-5xl lg:pb-3 text-transparent bg-clip-text bg-gradient-to-r from-[#FF35C6] to-[#FF8049]">
          Front-End Developer & Graphic Designer</h1>
        <p class="font-semilight pt-2 lg:text-lg"><span class="font-bold">Code & Graphic Designer</span>, it such a happiness for me. so, let me to help you!</p>
      </div>
      <div class="grid grid-cols-4 animate-wiggleVertical">
        <div class="scale-75 lg:-rotate-45 lg:translate-x-8">
          <a href="https://www.linkedin.com/in/akhmad-zaqi-riyadi-485a59194/"><img class="transition hover:rotate-45" src="/static/images/linkedin.png" alt=""></a>
        </div>
        <div class="col-span-2 scale-125 ">
          <img src="/static/images/hero.png" alt="">
        </div>
        <div class="scale-75 lg:rotate-45 lg:-translate-x-4">
          <a href=""><img class="transition hover:-rotate-45" src="/static/images/tik.png" alt=""></a>
        </div>
        <div class="col-span-2 w-1/2 scale-75 translate-x-6 -translate-y-14 -rotate-45 md:translate-x-14 md:-translate-y-14 lg:translate-x-10">
          <a href="https://www.instagram.com/zzzz_qqii/"><img class="transition hover:rotate-45" src="/static/images/instagram.png" alt=""></a>
        </div>
        <div class="col-span-2 w-1/2 scale-75 translate-x-24 -translate-y-14 md:translate-x-44 lg:translate-x-32 sm:translate-x-56">
         <a href="https://www.youtube.com/channel/UCAWxTQUGrd1vYZEM-aHABhw"><img class="transition hover:rotate-45 lg:translate-x-8" src="/static/images/youtube.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}